h1{
    color: red;
    text-align: center;
    border: 5px dotted black;
    padding: 20px;
}

p{
    text-align: justify;   
    text-indent: 50px;
    text-transform: unset;
    border: 1px red solid;
    padding: 30px 50px;
    margin: 10px 20px;
}

/* .destaque{
    background-color: #dd6b0e;
    border: rgb(190, 32, 211) dotted 5px;
    font-size: 25px;
    color: rgb(32, 20, 199);
} */


#cabecalho{
    height: 200px;
    background-color: turquoise;
    padding: 100px;
}